
    <div class="side-right">
      <div class="side-right-1"></div>
      <div class="side-right-2"></div>
      <div class="side-right-3"></div>
    </div>
    <div class="side-right">
      <div class="side-right-4"></div>
      <div class="side-right-5"></div>
      <div class="side-right-6"></div>
    </div>
    <div class="side-right">
      <div class="side-right-7"></div>
      <div class="side-right-8"></div>
      <div class="side-right-9"></div>
    </div>
    <div class="side-right">
      <div class="side-right-10"></div>
      <div class="side-right-11"></div>
      <div class="side-right-12"></div>
    </div>
    <div class="side-right">
      <div class="side-right-13"></div>
      <div class="side-right-14"></div>
      <div class="side-right-15"></div>
    </div>
  