<div class="wrapper">
  <div class="side-bar">
    <%= render "side-left" %>
  </div>
  
  <div class="center">
    <%= render "topic" %>
  </div>

  <div class="side-bar">
    <%= render "side-right" %>
  </div>
</div>