<div class="wrapper">
  <div class="side-bar">
    <div class="side-left">
      <div class="side-left-1"></div>
      <div class="side-left-2"></div>
      <div class="side-left-3"></div>
    </div>
    <div class="side-left">
      <div class="side-left-4"></div>
      <div class="side-left-5"></div>
      <div class="side-left-6"></div>
    </div>
    <div class="side-left">
      <div class="side-left-7"></div>
      <div class="side-left-8"></div>
      <div class="side-left-9"></div>
    </div>
    <div class="side-left">
      <div class="side-left-10"></div>
      <div class="side-left-11"></div>
      <div class="side-left-12"></div>
    </div>
    <div class="side-left">
      <div class="side-left-13"></div>
      <div class="side-left-14"></div>
      <div class="side-left-15"></div>
    </div>
  </div>
  
  <div class="center">
    <%= render "topic" %>
  </div>

  <div class="side-bar">
    <div class="side-right">
      <div class="side-right-1"></div>
      <div class="side-right-2"></div>
      <div class="side-right-3"></div>
    </div>
    <div class="side-right">
      <div class="side-right-4"></div>
      <div class="side-right-5"></div>
      <div class="side-right-6"></div>
    </div>
    <div class="side-right">
      <div class="side-right-7"></div>
      <div class="side-right-8"></div>
      <div class="side-right-9"></div>
    </div>
    <div class="side-right">
      <div class="side-right-10"></div>
      <div class="side-right-11"></div>
      <div class="side-right-12"></div>
    </div>
    <div class="side-right">
      <div class="side-right-13"></div>
      <div class="side-right-14"></div>
      <div class="side-right-15"></div>
    </div>
  </div>
</div>