<div class="wrapper">
  <div class="side-bar">
    <div class="side-left">
      <div class="side-left-1"></div>
      <div class="side-left-2"></div>
      <div class="side-left-3"></div>
    </div>
  </div>
  
  <div class="center">
    <%= render "topic" %>
  </div>

  <div class="side-bar">
    <div class="side-right">
      <div class="side-right-1"></div>
      <div class="side-right-2"></div>
      <div class="side-right-3"></div>
    </div>
  </div>