<div class="wrapper">
  <div class="side-bar">
    <div class="side-top">
    </div>
    <div class="side-bottom">
    </div>
  </div>
  
  <div class="chat">
  </div>

  <div class="side-bar">
    <div class="side-top">
    </div>
    <div class="side-bottom">
    </div>
  </div>
</div>
