<h1>Topics#index</h1>

<div class>
  <%= link_to '新規スレッド作成', new_topic_path, class:"new-thread" %>
</div>

<p>スレッド一覧</p>
<% @topics.each do |topic| %>
  <div class="topic-row">
    <p><%= link_to topic.title, topic_posts_path(topic.id), class:"title" %></p>
  </div>
<% end %>