<h1><%= link_to 'トップページ', root_path, class:"top-page" %></h1>

<%= form_with(model: @topic, local: true) do |f| %>
  <div class="form-input">
    スレッド名
    <div>
      <%= f.text_field :title, class: 'form-title' %>
    </div>
  </div>
  <%= f.submit '作成する', class: 'form-submit' %>
<% end %>