<div class="wrapper">
  <div class="side-bar">
    <div class="side-left-top">
    </div>
    <div class="side-left-bottom">
    </div>
  </div>
  
  <div class="center">
    <%= render "session" %>
  </div>

  <div class="side-bar">
    <div class="side-right-top">
    </div>
    <div class="side-right-bottom">
    </div>
  </div>
</div>