<div class="wrapper">
  <div class="side-bar">
    <%= render "topics/side-left" %>
  </div>
  
  <div class="center">
    <%= render "post" %>
  </div>

  <div class="side-bar">
    <%= render "topics/side-right" %>
  </div>
</div>