/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}


/* ヘッダー */
.header {
  background-color: darkgrey;
}

.header__bar {
  padding: 0 300px;
  display: flex;
  justify-content: center;
}

.top-title {
  text-decoration: none;
  font-size: 40px;
}

.current{
  display: flex;
  justify-content: flex-end;
}

.user-name {
  font-size: 24px;
}

.destroy {
  text-decoration: none;
  margin: 20px;
  font-size: 24px;
}