// トップページ遷移のリンク
.top-page {
  text-decoration: none;
  padding: 0 300px;
}

.nickname {
  padding: 0 300px;
}

.topic-title {
  padding: 0 300px;
}


// 投稿内容の表示
.contents {
  padding: 0 300px;
}

.post {
  margin: 10px 0;
  border-bottom: 1px solid;

  .name {
    background: yellow;
    padding: 3px;
  }

  .time {
    color: gray;
    margin-left: 10px;
  }

  .comment {
    white-space: pre;
    margin: 5px 0;
  }
}


// 投稿フォーム
.form-input {
  padding: 0 300px;
}

.submit {
  padding: 0 300px;
}