// トップページ遷移のリンク
.post-content {
  text-decoration: none;
  padding: 0 30px;
}


// 投稿内容の表示
.topic-title {
  font-size: 24px;
}

.post {
  margin: 10px 0;
  border-bottom: 1px solid;

  .nickname {
    background: yellow;
    padding: 3px;
  }

  .time {
    color: gray;
    margin-left: 10px;
  }

  .comment {
    white-space: pre;
    margin: 5px 0;
    font-size: 24px;
  }
}