// トップページ遷移のリンク
.top-page {
  text-decoration: none;
}

// 投稿内容の表示
.post-row {
  margin: 10px 0;
  border-bottom: 1px solid;

  .name {
    background: yellow;
    padding: 3px;
  }

  .time {
    color: gray;
    margin-left: 10px;
  }

  .content {
    white-space: pre;
    margin: 5px 0;
  }
}