// トップページ
.wrapper {
  display: flex;
}

// 左サイド
.side-bar {
  background-color:black;
  width: 400px;
  height: 100vh;
}

.side-left {
  display: flex;
}

.side-left-1 {
  height: 20vh;
  width: 105px;
  background-image: image-url('LA_Dodgers.png');
  background-size: 100% 100%;
}

.side-left-2 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Cubs.png');
  background-size: 100% 100%;

}
.side-left-3 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Atlanta_Braves.png');
  background-size: 100% 100%;
}

.side-left-4 {
  height: 20vh;
  width: 105px;
  background-image: image-url('San_Diego_Padres.png');
  background-size: 100% 100%;
}

.side-left-5 {
  height: 20vh;
  width: 105px;
  background-image: image-url('St._Louis_Cardinals.png');
  background-size: 100% 100%;

}
.side-left-6 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Miami_Marlins.png');
  background-size: 100% 100%;
}

.side-left-7 {
  height: 20vh;
  width: 105px;
  background-image: image-url('San_Francisco_Giants.png');
  background-size: 100% 100%;
}

.side-left-8 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Cincinnati_Reds.png');
  background-size: 100% 100%;

}
.side-left-9 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Philadelphia_Phillies.png');
  background-size: 100% 100%;

}
.side-left-10 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Colorado_Rockies.png');
  background-size: 100% 100%;
}

.side-left-11 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Milwaukee_Brewers.png');
  background-size: 100% 100%;

}
.side-left-12 {
  height: 20vh;
  width: 105px;
  background-image: image-url('New_York_Mets.png');
  background-size: 100% 100%;

}
.side-left-13 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Arizona_Diamondbacks.png');
  background-size: 100% 100%;
}

.side-left-14 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Pittsburgh_Pirates.jpg');
  background-size: 100% 100%;

}
.side-left-15 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Washington_Nationals.png');
  background-size: 100% 100%;
}

// 右サイド
.side-right {
  display: flex;
}

.side-right-1 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Oakland_Athletics.png');
  background-size: 100% 100%;
}

.side-right-2 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Minnesota_Twins.png');
  background-size: 100% 100%;

}
.side-right-3 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Tampa_Bay_Rays.png');
  background-size: 100% 100%;
}

.side-right-4 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Houston_Astros.png');
  background-size: 100% 100%;
}

.side-right-5 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Cleveland_Indians.png');
  background-size: 100% 100%;

}
.side-right-6 {
  height: 20vh;
  width: 105px;
  background-image: image-url('NewYorkYankees.png');
  background-size: 100% 100%;
}

.side-right-7 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Seattle_Mariners.png');
  background-size: 100% 100%;
}

.side-right-8 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Chicago_White_Sox.png');
  background-size: 100% 100%;

}
.side-right-9 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Toronto_Blue_Jays.png');
  background-size: 100% 100%;

}
.side-right-10 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Los_Angeles_Angels.png');
  background-size: 100% 100%;
}

.side-right-11 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Kansas_City_Royals.png');
  background-size: 100% 100%;

}
.side-right-12 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Baltimore_Orioles.png');
  background-size: 100% 100%;

}
.side-right-13 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Texas_Rangers.png');
  background-size: 100% 100%;
}

.side-right-14 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Detroit_Tigers.png');
  background-size: 100% 100%;

}
.side-right-15 {
  height: 20vh;
  width: 105px;
  background-image: image-url('Boston_Red_Sox.png');
  background-size: 100% 100%;
}

.center {
  background-color: #FFFFFF;
  width: calc(100vw - 400px);
}


// 
.top {
  text-decoration: none;
  background-image: image-url('Angel_Stadium_of_Anaheim.jpg');
  background-size: 100% 100%;
  height: 100vh;
}


// ユーザー管理機能
.user {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 24px;
  background-color: darkgray;
}


// 新規スレッド作成
.new-thread {
  text-decoration: none;
  font-size: 24px;
  background-color: yellow;
}

.form {
  padding: 150px 300px;
}

.thread-name {
  color: orange;
  font-size: 24px;
}


// 新規登録 or ログイン
.images {
  display: flex;
  justify-content: space-around;
}



// スレッド一覧
.thread {
  font-size: 30px;
  color: orange;
}

.thread-top {
  padding: 0 30px;
}

.title {
  text-decoration: none;
  font-size: 24px;
  background-color: darkgray;
}